<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit-rtl.min.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/lujem/fonts/master/css/vazir.min.css">

    {% seo %}
</head>
<style>
    body, p, h1, h2, h3, h4, h5, h6 {
        font-family: Vazir, sans-serif;
    }
</style>
<body>
<header class="uk-container uk-container-small">
    <a class="uk-margin-top uk-heading-primary" href="{{site.url}}">{{site.title}}</a>
    <hr>
</header>
<main class="uk-container uk-container-small">
    {{content}}
</main>
<footer></footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
</body>
</html>
